.container {
    /* border: 1px solid red; */
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container::before {
    content: "";
    background-image: url("./img/starrybackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .5;
}

.fanContainer {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    position: relative;
    /* margin-top: 40%; */
    padding-top: 40%;
    margin-bottom: 40%;
}

.spreadContainer {
    display: flex;
    justify-content: space-around;
    padding: 0% 3% 0% 3%;
    /* border: 1px solid red; */
}

.cardBack,
.cardFace {
    width: 114px;
    height: 200px;
}

.cardFace {
    z-index: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modalContainer {
    z-index: 1;
    position: absolute;
    /* border: 1px solid red; */
    height: 100vh;
    background-image: url("./img/starrybackground.jpg");
    transform: translateY(-83%);
    padding: 5%;
    animation: fadein .5s;
}